@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    word-break: normal;
    list-style: none;
    text-decoration: none;
}

body{
    min-height: 100vh;
    overflow: auto;
    background-color: #2b272b;
}

.mb, .pb, .tb, .sd, .dt {
    display: none;
}

@media only screen and (max-width: 599.98px) {
    .mb {
        display: block;
    }
}

/* Phablets */
@media (min-width: 600px) and (max-width: 767.98px) {
    .pb {
        display: block;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
    .tb {
        display: block;
    }
}

/* Small Desktops */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .sd {
        display: block;
    }
}

/* Desktops */
@media only screen and (min-width: 1200px) {
    .dt {
        display: block;
    }
}


